#Wrapper h1, #Wrapper h3{
	color:black;
	margin:0;
	padding:0;
	text-align: center;
}

#Wrapper h3{
	font-size:1.5em;
	margin-bottom:10px;
}

#Wrapper p{
	text-align: left;
}

#main-content-home{
	text-align: center;
	padding-top:10px;
}
