* {box-sizing: border-box;}

ul,ol{
	list-style-type: none;
	margin:0;
	padding:0;
}

body
{
	width:100%;
	margin:0;
	background-color:#DDEEFF;
}

a {text-decoration: none;}



h2{font-size: 1.3em;}
h3{font-size:1em;}

h1,h4{color:white;}

/********** Main-Header **********/

#Main-Container
{
 background-color:lightgrey;
}


#main-header
{
	border-bottom:solid 6px orange;
	background-color:darkblue;

/*Places Navigation on top of header*/
	display:flex;
	flex-direction:column;
}

#main-navigation
{
	background-color:black;
}


ul#main-nav /*Flex places nav elements in row*/
{
	/*remove makes mobile block*/
	display:flex;
	flex-direction:column;
	justify-content:flex-end;
}

#main-nav a /*Check Flex Box Options for Items*/
{
	flex-grow:1; /*Keeps all "Buttons" sames size*/
	display:flex;
	justify-content:center;
	align-items:center;
	text-align:center;
	font-weight: bold;
	padding:5px;
}


#title{
	text-align:center;
	margin:10px;
	color:white;
	font-size:2.25em;
	margin-top:10px;
}

#tag-line
{
	font-size:.4em;
	color:#CCC;
	font-style:normal;
}

#main-nav a:hover /*Full Button Rollover*/
{
	background-color:#3a82B3;
}

#main-nav a:visited, #main-nav a
		{color:white;}

#main-nav a.active{
	background-color:#3a82b3;
}


/********** Main-Section **********/
#main-section{
	position:relative;
	width:100%;
}

#main-section-home{
	background-image: url("../IMAGES/Desk.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height:400px;
}

#main-content-home{
	/*background-color:rgba(0, 0, 255, 0.5);*/
	height: inherit;
	width:100%;
	height:inherit;
	display:flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.logo-holder{
	height:inherit;
	display:flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#main-content-home h1 {
padding:0;
margin:0;
font-size:2.5em;
}

#main-content-home h4 {
padding:0;
margin:0;
font-size:1.5em;
}

.logo-holder{
	height:40%;
	width:50%;
	background-color:rgba(0, 0, 255, 0.5);
	border:8px solid black;
}

#main-content{
	font-size: 1.3em;
}

#main-content img{
	width:50%;
	height:auto;
	border-radius: 50%;
	border:4px solid black;
	margin:auto;
	margin-top:1em;
	margin-bottom:1em;
	display:block;
}

#main-content p {
	width:90%;
	margin-left:1em;
	font-size: .8em;
}

#home-buttons{
	display:flex;
	flex-direction:row;
	width:100%;
	position:relative;
	bottom:0;
}

.infobox{
	padding:20px;
	flex-grow:1;
	align-content:center;

  background: #3a82b3;
  background-image: -webkit-linear-gradient(top, #3a82b3, darkblue);
  background-image: -moz-linear-gradient(top, #3a82b3, darkblue);
  background-image: -ms-linear-gradient(top, #3a82b3, darkblue);
  background-image: -o-linear-gradient(top, #3a82b3, darkblue);
  background-image: linear-gradient(to bottom, #3a82b3, darkblue);

  color:white;
  border:none;
  border-right: solid #1f628d 2px;
}

.infobox:hover{
	background: #3cb0fd;
  text-decoration: none;
}







/********** Footer **********/

footer{
	background-color:#666;
	color:#DDD;
	height:65px;
	padding:10px;
	display:flex;
	flex-direction:row;
	justify-content:space-around;
	align-items:center;
}

#Wrapper{
	display:flex;
	flex-direction:column;
	min-height:100vh;
}

#main-section{
flex-grow:1;
}

/********** Media Q **********/

@media (min-width: 489px){

	ul#main-nav{
		flex-direction:row;
	}

	#main-nav a {
		padding:10px;
		height:40px;
		background-color:darkblue;
		display:flex;
		justify-content:center;
		align-items:center;
		border:none;
	}

	#main-nav a.active{
		background-color:darkblue;
		border-bottom:solid 2px white;
		color:white;
		background-image:none;
	}

	#main-nav a:hover{
		border-bottom: solid 2px white;
		background-color:darkblue;
	}

	#main-section{
		position:relative;
		width:100%;
	}

	#main-content{
		font-size: 1.3em;
		width:100%;
		display:inline-block;
	}

	#main-content img{
		width:150px;
		height:150px;
		border-radius: 50%;
		margin:2em;
		margin-top:0;
		float:left;
	}

	#main-content p {
	 width:90%;
	 display:inline-block;
	 margin-top:2em;
	 margin-right:1em;
	 margin-bottom:1em;
	 margin-left:.5em;
	 padding:2em;
	}

	#main-content-home h1{
		font-size:3em;
		padding:0;
		margin:0;
	}
	#main-content-home h4{
		font-size:2em;
	}

}

@media (min-width:1125px){

	#main-header{
		flex-direction:row;
		align-items:flex-end;
	}

	#title{
		margin-right: auto;
		margin-top:10px;
	}

	#main-nav a {
		padding-left:2em;
		padding-right:2em;
		font-size:1em;
		background-image:none;
	}

	#main-nav a:hover{
		border-bottom: solid 2px white;
		background-color:darkblue;
	}

	#main-nav a.active{
		border-bottom: solid 2px white;
		background-color:darkblue;
		color:white;
	}

	#main-header{
		padding-left:3em;
	}

	#main-content{
		font-size: 1.3em;
		width:100%;
		display:flex;
		justify-content: center;
	}

	#main-content img{
		width:150px;
		height:150px;
		border-radius: 50%;
		border:4px solid red;
		margin:0;
		margin-right:2em;
		float:left;
	}

	#main-content p {
	 width:70%;
	 display:inline-block;
	 margin-top:2em;
	 margin-right:1em;
	 margin-bottom:1em;
	 border:2px solid red;
	 padding:2em;
	 	}

	#main-content-home h1{
		font-size:3.5em;
		padding:0;
		margin:0;
	}

	#main-content-home h4{
		font-size:2.5em;
	}

	.infobox{
		padding:0px;
		height:75px;
	}


}
