@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:400,100,300,600,700);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700|Open+Sans:400,300,600,700);/*
font-family: 'Josefin Sans', sans-serif;*/

* {box-sizing: border-box;
  margin:0;
	padding:0;
}

ul,ol{
	list-style-type: none;
	margin:0;
	padding:0;
}

html, body
{
	width:100%;
	margin:0;
  padding:0;
  height:100%;
	background-color:#DDEEFF;
  font-family: 'Open Sans', sans-serif;
}

a {text-decoration: none;}

h2{font-size: 1.3em;}
h3{font-size:1em;}


/*****Main Header********/

#Main-Container
{
 background-color:lightgrey;
}

#main-header
{
	border-bottom:solid 6px orange;
	background-color:#0cf;
	display:flex;
	flex-direction:column;
}

#title{
	text-align:center;
	color:white;
	font-size:3em;
	margin-top:20px;
  padding-bottom:5px;
  font-family: 'Josefin Sans', sans-serif;
  /*font-family: 'Roboto', sans-serif;*/
  font-weight: normal;
  line-height: .8em;
  /*min-width: 375px;*/
}

#tag-line
{
	font-size:.4em;
	color:white;
	font-style:normal;
}

/*****Navigation********/
#main-nav a:hover /*Full Button Rollover*/
{
	background-color:  #78afd3;
}

#main-nav a:visited, #main-nav a
		{color:white;}

#main-nav a.active{
	background-color:#65a3cd;
}

#main-nav /*Mobile Block*/
{
	display:flex;
	flex-direction:column;
	justify-content:flex-end;
  text-align:center;
}

#main-nav a /*Check Flex Box Options for Items*/
{
	flex-grow:1; /*Keeps all "Buttons" sames size*/
	display:flex;
	justify-content:center;
	align-items:center;
	text-align:center;
	padding:8px;
}

/*****Buttons********/
#menuButton{
  padding:10px;
  background-color:  #5298c7;
  border:none;
  color:white;
  font-weight:bold;
}

#menuButton:hover{
  transition:.1s;
  transform:scale(1.05);
}

#buttons{
  width:100%;
	display:flex;
	flex-direction:row;
  flex-grow:1;
}
#buttons a{
  flex-grow:1;
  align-content:center;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-top:20px;
  padding-bottom:20px;
  background: #3a82b3;
  color:white;
  border:none;
  border-right: solid #1f628d 2px;
}

#buttons a:hover{
	background: #3cb0fd;
  text-decoration: none;
}


/*****Circle Image Holder********/
.profile{
  width:175px;
  height:175px;
  border-radius:50%;
  border:2px solid black;
  margin:auto;
  display:block;
  margin-bottom:20px;
}

/*****Footer and Main Section********/
#Wrapper{
  height:calc(100vh - 340px);/*Adust pixels based on Header Height*/
  width:100%;
  padding:20px; /*Used for Main-Section*/
}

#main-section{
	height:calc(100vh - 380px);
  overflow-y:auto;
}

#main-section::-webkit-scrollbar{
	width:0px;
	background:transparent;
}

footer{
  height:200px;
  background-color: black;
  color:#888;
}

#fLinks{
  width:100%;
  padding-top:25px;
  display:flex;
  flex-grow:1;
  flex-direction: row;
  justify-content: space-between;
}
#fContact{
  flex-grow:1;
  padding-left:1em;
  margin-right:auto;
}

#social{
  margin-right:1em;
}

.social{
  height:50px;
  width:100%;
}

.social a{
  padding:10px;
  width:50px;
  height:50px;
}

.social a:nth-child(1){
  border:none;
  background-image: url("../IMAGES/Social/fb-like-gray.png");
  background-size:contain;
  background-position: center;
  background-repeat:no-repeat;
  background-size: cover;
}

.social a:nth-child(2){
  border:none;
  background-image: url("../IMAGES/Social/twitter-gray.png");
  background-size: contain;
  background-repeat:no-repeat;
}
.social a:nth-child(3){
  border:none;
  background-image: url("../IMAGES/Social/instagram-2-gray.png");
  background-size: contain;
  background-repeat:no-repeat;
}
.social a:nth-child(4){
  border:none;
  background-image: url("../IMAGES/Social/github-gray.png");
  background-size: contain;
  background-repeat:no-repeat;
}
.social a:nth-child(5){
  border:none;
  background-image: url("../IMAGES/Social/email-gray.png");
  background-size: contain;
  background-repeat:no-repeat;
}
.social a:nth-child(6){
  border:none;
  background-image: url("../IMAGES/Social/linkedin-gray.png");
  background-size: contain;
  background-repeat:no-repeat;
}
