#projectContainer{
  height:450px;
  width:100%;
  margin:auto;
  margin-bottom:20px;
  background:black;
  border:2px solid #ccc;

  overflow:hidden;
}

#projects{
  list-style: none;
  display:flex;
  flex-direction: row;
  flex-wrap:wrap;

  margin:0;
  padding:0;

  width:120%;
  height:120%;

  margin-top:-150px;
  margin-left: -100px;

  transform: rotateZ(-15deg);
}

@media(max-width:640px){
  #projectContainer{
    height:350px;
  }
  #projects{
    width:140%;
    margin-left:-70px;
  }
}

.projectLink{
  height:132px;
  width: 25%;
  background:blue;
  border:1px solid rgba(0, 0, 0, 1);;
  margin:0px;
  padding:0;

  -webkit-box-shadow: inset 0px 0px 120px 2px rgba(0,0,0,0.75);
  -moz-box-shadow: inset 0px 0px 120px 2px rgba(0,0,0,0.75);
  box-shadow: inset 0px 0px 120px 2px rgba(0,0,0,0.75);
}

.projectLink:hover{
  -webkit-box-shadow: inset 0px 0px 120px 2px rgba(255,255,255,0.75);
  -moz-box-shadow: inset 0px 0px 120px 2px rgba(255,255,255,0.75);
  box-shadow: inset 0px 0px 120px 2px rgba(255,255,255,0.75);
}

#projectFollowText p{
  margin:0;
  padding-left:1em;
  font-size: 1em;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

#projectFollowText a{
  font-weight: bold;
  text-decoration: underline;
  color:cyan;
}
