
@media (min-width:1025px){

	#main-header{
		flex-direction:row;
		align-items:flex-end;
	}

	.nametag{
		margin-right: auto;
		margin-top:0px;
		margin-left:0em;
	}

	#main-nav2 {
		margin-right: 2em;
	}
	#main-nav2 a{
	padding-right:1em;
	color:black;
	padding-left: 2em;
	padding-right:2em;
	margin-right:2em;
	}

	#main-nav2 a:hover{
	}

	#main-nav2 a.active{
	}

	#main-header{
		padding-left:3em;
	}

	#main-content{
		max-width: 780px;
		margin:auto;
	}
}
