
@media (min-width: 489px){

	ul#main-nav{
		flex-direction:row;
	}

	#main-nav a {
		padding:10px;
		height:40px;
		background-color:#65a3cd;
		display:flex;
		justify-content:center;
		align-items:center;
		border:none;
	}

	#main-nav a.active{
		background-color:#65a3cd;
		border-bottom:solid 2px white;
		color:white;
		background-image:none;
	}

	#main-nav a:hover{
		border-bottom: solid 2px white;
		background-color: #78afd3;
	}

}
