
@media (min-width: 489px){

	ul#main-nav2{
		flex-direction:row;
		position:relative;
	  background:rgba(0, 0, 0, 0.5);
	}

	#main-nav2 a {
		padding:10px;
		height:40px;
		background-color:#0D47A1;
		display:flex;
		justify-content:center;
		align-items:center;
		border:none;
	}

	#main-nav2 a.active{
		background-color:#0D47A1;
		border-bottom:solid 2px white;
		color:white;
		background-image:none;
	}

	#main-nav2 a:hover{
		border-bottom: solid 2px white;
		background-color: #1565C0;
	}

	.nametag{
	  margin-top:0px;
	  margin-bottom:20px;
	}

}
