
@media (min-width: 489px){

	.nametag{
	  margin-top:0px;
	  margin-bottom:20px;
	}
	/*****Navigation2********/

	#main-nav2 /*Mobile Block*/
	{
		display:flex;
		flex-direction:row;
		justify-content:flex-end;
	  text-align:center;
		height:40px;
	}

	#main-nav2 a /*Check Flex Box Options for Items*/
	{
		flex-grow:1; /*Keeps all "Buttons" sames size*/
		display:flex;
		justify-content:center;
		align-items:center;
		text-align:center;
		padding:18px;
		background-color:#B0BEC5;
	}

	#main-nav2 a:hover /*Full Button Rollover*/
	{
		background-color: #00BCD4;
	}

	#main-nav2 a:visited, #main-nav2 a
			{color:white;}

	#main-nav2 a.active{
		background-color:#00BCD4;
	}

	#Wrapper{
		margin-top:20px;
	}

	#Wrapper p{
		margin-left: 4em;
	  margin-right:3em;
	}

	/**3Wire Title**/
	#main-content h1 {
		max-width: 325px;
		margin:auto;
		margin-bottom: 20px;
	}

	.flexContent{
		margin-left:2em;
		margin-right: 2em;
		justify-content:flex-end;
		height:100px;
	}

	.circleImg{
		margin-left:-25px;
	}

	#main-content h3{
		flex-grow:1;
		font-weight: 200;
	}
}


@media (min-width: 780px){

	#Wrapper {
		width:80%;
		margin:auto;
	}

}


@media (min-width:1025px){

	#main-header{
		flex-direction:row;
		align-items:flex-end;
	}

	.nametag{
		margin-right: auto;
		margin-top:0px;
		margin-left:0em;
	}

	#main-nav2 {
		margin-right: 2em;
	}
	#main-nav2 a{
	padding-right:1em;
	color:black;
	padding-left: 2em;
	padding-right:2em;
	margin-right:2em;
	}

	#main-nav2 a:hover{
	}

	#main-nav2 a.active{
	}

	#main-header{
		padding-left:3em;
	}

	#main-content{
		max-width: 780px;
		margin:auto;
	}
}
