
@media (min-width: 489px){

	ul#main-nav{
		flex-direction:row;
	}

	#main-nav a {
		padding:10px;
		height:40px;
		background-color:darkblue;
		display:flex;
		justify-content:center;
		align-items:center;
		border:none;
	}

	#main-nav a.active{
		background-color:darkblue;
		border-bottom:solid 2px white;
		color:white;
		background-image:none;
	}

	#main-nav a:hover{
		border-bottom: solid 2px white;
		background-color:darkblue;
	}

	#main-section{
		position:relative;
		width:100%;
	}

	#main-content{
		font-size: 1.3em;
		width:100%;
		display:inline-block;
	}

	#main-content img{
		width:150px;
		height:150px;
		border-radius: 50%;
		margin:2em;
		margin-top:0;
		float:left;
	}

	#main-content p {
	 width:90%;
	 display:inline-block;
	 margin-top:2em;
	 margin-right:1em;
	 margin-bottom:1em;
	 margin-left:.5em;
	 padding:2em;
	}

	#main-content-home h1{
		font-size:3em;
		padding:0;
		margin:0;
	}
	#main-content-home h4{
		font-size:2em;
	}

}
