<div id="Wrapper">
	<section id="main-section">

			<h1 class="CTitle">Contact Me</h1>

      <form id="contact" action="/contactMe" method="post">
          <label for="name">Name:</label>
          <input type="text" id="name" name="name" />

          <label for="email">Email:</label>
          <input type="email" id="email" name="email" />

          <label for="tel">Phone:</label>
          <input type="tel" id="tel" name="tel" />

          <label for="msg">Message:</label>
          <textarea id="msg" name="message" rows="4"></textarea>


          <button class="contactSubmit" type="submit">Send</button>
      </form>

	</section> <!--Main-Section-->
</div> <!--Wrapper-->

<div id="buttons">
  <a href="#/about" class="infobox about">About</a>
  <a href="#/projects" class="infobox projects">Projects</a>
</div>
