<footer>
    <div id="fLinks">
      <div id="fContact">
        <p>Matthew A Thompson<br>
        Louisville, KY 40207<br>
        &copy; 2016</p>
      </div>

      <div id="social">
        <ul class="social2">
          <a href="https://github.com/mthomps4" class="socialLink2" target="_blank"></a>
          <a href="mailto:matthew.thompson.a@gmail.com?subject=3WireBuild-Contact" class="socialLink2" target="_blank"></a>
          <a href="https://www.linkedin.com/in/mthomps4" class="socialLink2" target="_blank"></a>
        </ul>

        <ul class="social">
          <a href="https://www.facebook.com/mthomps4" class="socialLink" target="_blank"></a>
          <a href="https://twitter.com/mthomps4" class="socialLink" target="_blank"></a>
          <a href="https://www.instagram.com/3wirebuild/" class="socialLink" target="_blank"></a>
        </ul>
      </div>

    </div>
</footer>
