<div id="resume">

<a href="../MThompsonResume2016-2.0.pdf" download><button> Download Full Resume </button></a>
<a class="ResLinkedin" href="http://www.linkedin.com/in/mthomps4" target="_blank"></a>

<h3>Education</h3>
<h4>2010 Graduate of Georgetown College, Georgetown, Kentucky</h4>
<p>Bachelor of Arts with a dual emphasis in Sculpture and Digital Media Minor in Physics</p>

<h4>Continued Training</h4>
<p><b>May 2016 Code Louisville:</b><br>
Fullstack JavaScript, AngularJS, Node.js, MongoDB, Express, Web Sockets <br>
<br>
<b>Fall 2016 Code Louisville:</b> <br>
C# ASP.NET, PHP7<br></p>
<br>
<p><b>Self Study:</b><br>
 React, Meteor, Ember<br></p>


<h3>Skills/Expertise</h3>
<p>HTML5, CSS3, JavaScript, NodeJS, Angular(2), Express, MongoDB, Network Administration, Google Administrator, Adobe Creative Cloud, Illustrator, Photoshop, Indesign, Adobe Lightroom, Wordpress, Traditional Woodworking, Basic Welding, Google Sketchup, Set design, Lighting Technician, Linux, Mac,
and Windows OS, Libre Office, iWorks, Microsoft Office</p>

<h3>Working Snapshot</h3>
<h4 class="bumpUp"><i>Present</i> -	Broadway Baptist Church</h4>
<p><b>Technology and Communications Specialist:</b></p>
<p>Upgraded and increased network coverage to include 80% of Church Facilities. Transitioned all shared data from 2008 Server to Google Cloud. Implemented new security features for network and local PC’s. Maintain all technology related budgets including: Internet and Computer expense, Software, Audio/Visual, and Network expenses. Created and implemented an office technology plan for upgrades and replacements. Ran new hard cable campus wide for both Network and Audio/Visual needs. Maintain church website, network, server applications, and social media accounts on a daily basis. Design and turnover all outreach, newsletters, banners, and all printed material weekly. Manage all church calendar requests and reservations. Maintain all inventory and office supplies. Point person for office repairs outsourcing where needed. Consult with sales representatives. Back up and assist church administrator and staff as needed.</p>

<h4><i>2012 - 2013</i>	Charter Communications</h4>
<p><b>Day of Service Representative: </b></p>
<p>Acted as a retention/sales representative for customers who had recent repairs or new installations. On average assisted over 120 customers a day. Troubleshot Internet and cable issues over the phone to maintain customer relations. Confirmed/Sold/Upgraded customer package as needed. Communicated with dispatch as needed to gather technician eta for customer assurance.</p>

<h4><i>2011- 2012</i>	Portrait Innovations</h4>
<p><b>Photographer Associate and Manager on Duty:</b></p>
<p>Photographed, sold, and packaged customer portraits completing on average 30 sessions a day. Consistently reached the top 30 in regional portrait sales. Maintained Fuji 5700 large scale printer and Nikon cameras for studio. Handled Inventory and labor for studio. Trained new sales photographers for studio’s in the area. Traveled when needed to partner studios within the eastern region to train and assist as needed.</p>

<h4><i>2011</i>	Measured Progress</h4>
<p><b>Test Grader:</b></p>
<p>Graded assessment tests for Reading and Math for grades 4-6 across various states.</p>

<h4><i>2010</i>	Bluegrass Stallions Semi Pro Basketball Team, Georgetown, Ky</h4>
<p><b>Graphic Design Internship: </b></p>
<p>Designed Wordpress site for local promotional use. Designed outreach material including posters, tickets, Biers. Helped to promote local events for to introduce the team to the community.</p>

<h4><i>2007 - 2009</i>	Bell County PVA Office, Pineville, Ky</h4>
<p><b>Summer Assistant to Mapping Coordinator</b></p>
<p>Assisted with field work measuring and photographing all homes county wide for assessment purposes. Reorganized office filing system for all home and businesses within the county. Assisted residence with information on their home assessments. Assisted with computer mapping and data input.</p>


<a href="../MThompsonResume2016-2.0.pdf" download><button> Download Full Resume </button></a>

</div>
