#BlogWrapper{
width:100%;
padding:5px; /*Used for Main-Section*/
background-color:#424242;
background-image: url('../IMAGES/curls50.jpg');
background-repeat: no-repeat;
/*background-position: center;*/
background-size: cover;
}

#main-blog-section{
background-color:rgba(0, 0, 0, 0.5);
border-radius: 20px;
padding:5px;
margin:0;
}

#main-blog-section h1{
  width: 90%;
  margin:auto;
  margin-top: 20px;
}

p#stillWorking{
  padding:20px 0;
  opacity:.9;
  text-align: center;
}

#stillWorking a{
  color:#00BCD4;
}


/*******FLICKR ANIMATION *******/
#Flickr{
display:flex;
flex-direction: row;
width:240px;
height:240px;
overflow: hidden;
margin:0;
border: 2px solid white;
}

img.flickrPic{
width:240px;
height:240px;
/*margin-right: 10px;*/

animation: movePic 60s steps(20) infinite;
}

@-webkit-keyframes movePic {
0%   { transform: translateX(0px);}
100% { transform: translateX(-4800px); }
}
@-moz-keyframes movePic {
0%   { transform: translateX(0px);}
100% { transform: translateX(-4800px); }
}
@-o-keyframes movePic {
0%   { transform: translateX(0px);}
100% { transform: translateX(-4800px); }
}
@keyframes movePic {
0%   { transform: translateX(0px);}
100% { transform: translateX(-4800px); }
}

#flickrFloat{
position: relative;
margin-bottom: 20px;
}

#flickrFloat h4 {
color:white;
opacity:.8;
text-align: right;
font-style: italic;
position:absolute;
top:200px;
left:125px;
z-index: 2;
}

.clearfix:after {
 content: ".";
 visibility: hidden;
 display: block;
 height: 0;
 clear: both;
}


/********Main Styles********/

#blogSide{
color:white;
display:flex;
flex-direction: column;
align-items: center;
margin-bottom:20px;
}

#links{
margin-top:20px;
margin-left: -100px;
}

#main-content{
margin-bottom:30px;
}

#blog-content{
margin-bottom: 40px;
}

.postContent{
background-color: #333;
color:white;
margin-bottom: 50px;
border:solid 2px #777;
border-bottom:solid 6px #00BCD4;
padding-bottom: 20px;
}

.postContent h3, .postContent p{
  padding-left:10px;
}

.postContent p {
  padding-bottom: 25px;
  padding-right: 5px;
}
.blogTitle{
  padding-bottom: 4px;
  margin-top:10px;
}

.description{
  opacity: .8;
  padding-bottom:5px;
}

.imageHolder{
  border-radius: 0px;
  width:100%;
  height:130px;
  margin:0;
  background-color: #424242;
  overflow: hidden;
}

.blogThumbImg{
  width:100%;
  margin:0;
}

.postLink{
  text-decoration: underline;
  color: #00BCD4;
  margin-left:20px;
}

.readLess{
  margin-left:10%;
  padding:0;
}

.postMeta{
  float:right;
  line-height:.1em;
  opacity:.5;
  margin-right:10%;
  text-align: right;
  padding-top:10px;
}

.blogBodyImg{
  width:80%;
  display:flex;
  margin:auto;
  margin-bottom: 15px;
  border:3px solid #AAA;
}

#showMore{
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  /*width:40%;*/
  margin:auto;
  margin-top:25px;
}

.pageButton{
  background-color:#424242;
  opacity:.9;
  padding:4px 10px;
  border-color:#aaa;
  flex-grow:1;
  flex-basis:100%;
  color:white;
  font-weight: bold;
  margin:10px;
}

.pageNumber{
  color:white;
  opacity: .8;
  flex-grow:1;
  flex-basis:100%;
  text-align: center;
}

@media(min-width:480px){
  .imageHolder{
    border: none;
    width:100%;
    height:125px;
    margin-right:100px;
    background-color: #424242;
    overflow:hidden;
  }

  .postContent{
    border-bottom:solid 4px #00BCD4
  }

  #blogSide{
    flex-direction: row;
    justify-content: center;
  }
  #links{
    margin-top:0;
    margin-left:30px;
  }

  #flickrFloat{
    margin:auto;
  }

  #showMore{
    width:40%;
  }
}

@media(min-width:780px){
  #blog-content{
    padding-left:20px
  }

  .imageHolder{
    width:0;
    overflow:visible;
  }

  .postContent{
    background-color: #90A4AE;
    background-color: #212121;
    color:white;
    display:flex;
    flex-direction:row;
    align-items: center;
    border-bottom:solid 4px #00BCD4;
    margin-bottom: 20px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    min-height: 125px;
    width:90%;
    margin:auto;
    margin-bottom:40px;
  }

  .blogTitle{
    padding-bottom: 4px;
  }

  .description{
    opacity: .8;
  }

  .blogThumbImg{
    width:125px;
    height:125px;
    border-radius:50% 50%;
    margin:10px;
    border:3px solid white;
    background-color:#424242;
  }

  .blogThumbImg{
    margin-left:-50px;
    margin-bottom: -5px;
  }

  .postLink{
    text-decoration: underline;
    color: #00BCD4;
    margin-left:20px;
  }

  .readLess{
    margin-left:10%;
  }

  #blogSide{
    justify-content: center;
  }
}

@media(min-width:1025px){
  #BlogWrapper{
  width:100%;
  padding:20px; /*Used for Main-Section*/
  background-color:#424242;
  background-image: url('../IMAGES/curls50.jpg');
  background-repeat: no-repeat;
  /*background-position: center;*/
  background-size: cover;
}

#main-blog-section{
  background-color:rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  padding:50px;
}


/*******FLICKR ANIMATION *******/


@-webkit-keyframes movePic {
  0%   { transform: translateX(0px);}
  100% { transform: translateX(-4800px); }
}
@-moz-keyframes movePic {
  0%   { transform: translateX(0px);}
  100% { transform: translateX(-4800px); }
}
@-o-keyframes movePic {
  0%   { transform: translateX(0px);}
  100% { transform: translateX(-4800px); }
}
@keyframes movePic {
  0%   { transform: translateX(0px);}
  100% { transform: translateX(-4800px); }
}

#flickrFloat{
  position: relative;
  overflow: hidden;
  width:240px;
  height:240px;
  border: 2px solid white;
}

#flickrFloat h4 {
  color:white;
  opacity:.8;
  text-align: right;
  font-style: italic;
  position:absolute;
  top:200px;
  left:125px;
  z-index: 2;
}

.clearfix:after {
   content: ".";
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

#Flickr{
  display:flex;
  flex-direction: row;
  min-width:5050px;
  height:240px;
  /*overflow: hidden;*/
  margin:0;
}

img.flickrPic{
  width:240px;
  height:240px;
  margin:0;
  animation: movePic 60s steps(20) infinite;
}

/********Main Styles********/

#blogSide{
  float:right;
  color:white;
}

#blogSide{
  color:white;
  display:flex;
  flex-direction: column;
  align-items: center;
  margin-bottom:20px;
}

#links{
  margin-top:20px;
  margin-left: 10px;
}

#main-content{
  margin-bottom:30px;
}

#blog-content{
  float:left;
  width:70%;
  padding-left:20px
}

.postContent{
  background-color: #90A4AE;
  background-color: #212121;
  color:white;
  display:flex;
  flex-direction:row;
  align-items: center;
  border-bottom:solid 4px #00BCD4;
  margin-bottom: 20px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.blogTitle{
  padding-bottom: 4px;
}

.description{
  opacity: .8;
}

.blogThumbImg{
  width:125px;
  height:125px;
  border-radius:50% 50%;
  margin:10px;
  border:3px solid white;
  background-color:#424242;
}

.blogThumbImg{
  margin-left:-50px;
  margin-bottom: -5px;
}

.postLink{
  text-decoration: underline;
  color: #00BCD4;
  margin-left:20px;
}

.readLess{
  margin-left:10%;
}

}/*@Media 1025*/
