#container{
  /*background-color:#2f2f2f;*/
}

#container h1 {
  text-align: center;
  color:white;
  font-weight:300;
  margin:0;
  padding-top:1em;
  padding-bottom:1em;
}

#Tags{
  padding:1em 0px;
  margin:0;

  display:flex;
  flex-direction: column;
  /*justify-content: space-between;*/
  /*background:#424242;*/
}

.tagWrap{
  flex-grow:1;
  display:flex;
  flex-direction: column;
  margin-bottom:50px;

}

.tagWrap h2{
  text-align: center;
  color:white;
  font-weight: 400;
  text-shadow: 1px 2px 10px rgba(0, 0, 0, 1);
}

.tagBox{
  background-color:#212121;
  margin:20px;
  margin-top:8px;
  border:2px solid #424242;

  -webkit-box-shadow: 0px 0px 20px 5px rgba(0,0,0,.7);
  -moz-box-shadow: 0px 0px 20px 5px rgba(0,0,0,.7);
  box-shadow: 0px 0px 20px 5px rgba(0,0,0,.7);
}

.tagImage{
  margin:auto;
  width:100%;
  border-bottom:solid 2px #777;
}

.tagBox p {
  color: #FAFAFA;
  opacity:.93;
  padding: 10px 5px;
  margin:0px 5px 5px 5px;
}

.tagBox a {
  text-decoration: underline;
  color:cyan;
}

.tagBox a:hover{
  color:#00BCD4;
}


@media (min-width:489px){

    #Tags{
      padding:2.5em 0px;
      margin:0 30px;
      display:flex;
      flex-direction: column;
    }

    .tagWrap h2{
      font-weight: 500;
    }

}/*Media 560*/


@media(min-width:560px){
    #Tags{
      margin:0 100px;
    }
}


@media (min-width:750px){

#Tags{
      padding:2.5em 0px;
      margin:0 25px;
      display:flex;
      flex-direction: row;
      justify-content: space-between;
      /*background:#424242;*/
    }

    .tagWrap{
      flex-grow:1;
      flex-basis: 0;
      display:flex;
      flex-direction: column;
      /*align-items: center;*/
    }

    .tagWrap h2{
      font-weight: 300;
    }

}/*Media 780*/



@media (min-width:1025px){
    #Tags{
      margin:0 75px;
    }
}/*Media 1025*/

@media(min-width:1250px){
  #Tags{
    margin:0 100px;
  }
}
