<div id="Wrapper">
	<section id="main-section">
	  <article id="main-content">


				<!-- <h1>3WireBuild</h1> -->


			<div class="flexContent">
				<h3> The Basics </h3>
				<image class="profileImg circleImg">
				</div>

				<p>
	    		I Graduated with a B.A. in Art from Georgetown College
					emphasizing in Sculpture and Graphic Design with a minor in Physics.
					While at Georgetown I met my wife Emily and soon followed her to Louisville, KY.
					Currently I manage the network and church communications for Broadway Baptist Church
					while gaining more experience in Web Development.
					I enjoying spending time with family, creating "home projects" and
					hobbies including traditional woodworking and furniture design.
				</p>

			<div class="flexContent">
				<h3> The Lifestyle</h3>
				<image class="workImg circleImg">
			</div>
				<p>
					Building is a lifestyle.
					You wake up in the morning geared to create; to fix; to learn, and to solve.
					It’s an itch. A marathon full of thoughts; with each needing their own type of acknowledgement.
					It's waking up knowing there are no exceptions to the type of work needed, except that work you must.
					I am a Designer, Web Developer, Traditional Woodworker, "Do It Yourselfer", and Adventuring Thinker.
					It's in my nature to break objects down to their simplest form.
					Part by part... down to it's very core. <i>"How were you made?"</i>

					It's this understanding and ability to deconstruct something slowly
					in a way that unlocks the full story hiding beneath.
					Each object shows the intent of its creator.
					The tools they had, the experience gathered, and the pride took in it's creation.
					Always learning from the past and how these objects were formed is a never ending process.
					Building is a lifestyle and one that I'm proud to have embraced.
				</p>




		</article>
	</section>
</div> <!--Wrapper-->

			<div id="buttons">
			  <a href="#/contact" class="infobox contact">Contact</a>
			  <a href="#/skills" class="infobox skillset">Skillset????</a>
			  <a href="#/resume" class="infobox resume">Resume</a>
			</div>
