<div id="Wrapper">
	<section id="main-section">
	  <article id="main-content">
	      <p>
	        <image src="../IMAGES/Pro.jpg" class="profile" alt="profile picture">
					Matthew Thompson Graduated with a B.A. in Art from Georgetown College where he emphasized in Sculpture and Graphic Design with a minor in Physics. He then moved to Louisville KY where he married his wife Emily. Matthew is currently manages the communications and network at Broadway Baptist Church. Matthew continues to gain experience in web development and enjoying hobbies such as traditional woodworking and furniture design.</p>
	  </article>
	</section>
</div> <!--Wrapper-->

	<footer>
			<div id="buttons">
			  <a class="infobox contact">Contact</a>
			  <a class="infobox skillset">Skillset</a>
			  <a class="infobox resume">Resume</a>
			</div>

			<div id="fLinks">
				<div id="fContact">
					<p>Matthew A Thompson<br>
					Louisville, KY 40207<br>
					&copy; 2016</p>
				</div>

				<div id="social">
					<ul class="social">
						<a  class="socialLink"></a>
						<a class="socialLink"></a>
						<a class="socialLink"></a>
					</ul>

					<ul class="social2">
						<a  class="socialLink2"></a>
						<a class="socialLink2"></a>
						<a class="socialLink2"></a>
					</ul>
				</div>
	</footer>
