<div id="Wrapper">
	<section id="main-section">


	  <h2> This blog is currently being revamped and uploaded. See you soon. </h3>


	</section>
</div> <!--Wrapper-->

	<footer>
		<div id="buttons">
			<a class="infobox categories">Categories</a>
			<a class="infobox tags">Tags</a>
			<!-- <a class="infobox">?</a> -->
		</div>

		<div id="fLinks">
			<div id="fContact">
				<p>Matthew A Thompson<br>
				Louisville, KY 40207<br>
				&copy; 2016</p>
			</div>

			<div id="social">
				<ul class="social">
					<a  class="socialLink"></a>
					<a class="socialLink"></a>
					<a class="socialLink"></a>
				</ul>

				<ul class="social2">
					<a  class="socialLink2"></a>
					<a class="socialLink2"></a>
					<a class="socialLink2"></a>
				</ul>
			</div>

		</div>
</footer>
