<div id="Wrapper">
	<section id="main-section">
		<div id="main-content">

			<h1>3WireBuild</h1>
		  <p> 3WireBuild was created to document the process.... </p>

<p>Oh. You need a little dummy text for your mockup? How quaint.</p>
<p>I bet you’re still using Bootstrap too…</p>
<p>Flannel readymade tofu, pinterest hella offal austin vinyl mixtape quinoa master cleanse. XOXO distillery locavore, waistcoat quinoa cred viral PBR&B bushwick tote bag celiac. Twee narwhal four loko bespoke mustache, tumblr banh mi trust fund plaid portland tilde scenester. Kinfolk polaroid helvetica, literally irony iPhone asymmetrical keytar fap pinterest austin microdosing cliche. Neutra freegan cray gluten-free +1 brunch. Hoodie kickstarter distillery man bun pop-up. Franzen leggings blue bottle, sartorial cred cliche typewriter cornhole health goth.</p>

		</div> <!--main-content-->
	</section> <!--Main-Section-->
</div> <!--Wrapper-->



		<div id="buttons">
			<a class="infobox categories">Categories</a>
			<a class="infobox tags">Tags</a>
			<!-- <a class="infobox">?</a> -->
		</div>
