<div id="BlogWrapper">

<div id="main-blog-section" class="clearfix">
	<div id="main-content">
		<h1>3WireBuild</h1>
		<p id="stillWorking"> 3WireBuild was created to document the process... The process is still working.</p>
	</div>

<section id="blog-content">

	<div class="postContent">
		<image class=" blogThumbImg">
			<div>
			<h3 class="blogTitle"> Blog Post Sample Title </h3>
			<p class="description"> Sample content ...<a class="postLink" href="">Read More... </a>
			</p>
			</div>
		</div>

		<div class="postContent">
			<image class="circleImg blogThumbImg">
				<div>
				<h3 class="blogTitle"> Blog Post Sample Title </h3>
				<p class="description"> Sample content ...<a class="postLink" href="">Read More... </a>
				</p>
				</div>
			</div>

			<div class="postContent">
				<image class=" circleImg blogThumbImg">
					<div>
					<h3 class="blogTitle"> Blog Post Sample Title </h3>
					<p class="description"> Sample content ...<a class="postLink" href="">Read More... </a>
					</p>
					</div>
				</div>



</section> <!--main-content-->

<aside id="blogSide">
		<div id="flickrFloat">
			<h4> @3WireBuild </h4>
			<ul id="Flickr"></ul>
		</div>

		<div id="links">
				<h4>Blog Follows</h4>
					<ul>
						<li> sample 1 </li>
						<li> sample 2 </li>
						<li> sample 3 </li>
					</ul>
				</div>


</aside>


	</div> <!--Main-blog-Section-->
</div> <!--BlogWrapper-->



<div id="buttons">
	<a class="infobox categories">Categories</a>
	<a class="infobox tags">Tags</a>
	<!-- <a class="infobox">?</a> -->
</div>
