<div id="Wrapper">
	<section id="main-section">
	  <article id="main-content">

	<h1>Contact Me</h1>

			<h4>General</h4>
					<p> <img class="contactIcon" src="../IMAGES/Social2/gmailBlack.png">
					<b>Email: </b><a href="mailto:matthew.thompson.a@gmail.com?subject=3WireBuild-Contact">matthew.thompson.a@gmail.com</a></p>

			<h4>Web Development</h4>

					<p><img class="contactIcon" src="../IMAGES/Social2/githubBlack.png">
					<b>GitHub:</b><a href""> @MThomps4</a>

					<p><img class="contactIcon" src="../IMAGES/Social2/linkedinBlack.png">
					<b>LinkedIn:</b><a href""> /in/mthomps4</a>

					<p><img class="contactIcon" src="../IMAGES/Social2/twitterBlack.png">
					<b>Twitter:</b><a href""> @MThomps4</a>

			<h4>Woodworking Habits</h4>
					<p><img class="contactIcon" src="../IMAGES/Social2/instagramBlack.png">
					<b>Instagram:</b><a href""> @3WireBuild</a>

			<h4>Other</h4>
					<p><img class="contactIcon" src="../IMAGES/Social2/fbBlack.png">
					<b>Facebook:</b><a href""> @MThomps4</a>

	  </article>
	</section>
</div> <!--Wrapper-->
