<div id="Wrapper">
	<section id="main-section">
	  <article id="main-content">
			<div id="shrinkLarge">
	<h1>Contact Me</h1>
	<image class="profileImg circleImg contactImg">
			<h4>General</h4>
					<p> <img class="contactIcon" src="../IMAGES/Social2/gmail.png">
					<a href="mailto:matthew.thompson.a@gmail.com?subject=3WireBuild-Contact"><b>Email: </b>matthew.thompson.a@gmail.com</a></p>

			<h4>Web Development</h4>

					<p><img class="contactIcon" src="../IMAGES/Social2/github.png">
					<a href="https://github.com/mthomps4"><b>GitHub:</b>@MThomps4</a></p>

					<p><img class="contactIcon" src="../IMAGES/Social2/linkedin.png">
					<a href="https://www.linkedin.com/in/mthomps4"><b>LinkedIn:</b> /in/mthomps4</a></p>

					<p><img class="contactIcon" src="../IMAGES/Social2/twitter.png">
					<a href="https://twitter.com/mthomps4"><b>Twitter:</b>@MThomps4</a></p>

			<h4>Woodworking Habits</h4>
					<p><img class="contactIcon" src="../IMAGES/Social2/instagram.png">
					<a href="https://www.instagram.com/3wirebuild/"><b>Instagram:</b>@3WireBuild</a></p>

			<h4>Other</h4>
					<p><img class="contactIcon" src="../IMAGES/Social2/fb.png">
					<a href="https://www.facebook.com/mthomps4"><b>Facebook:</b> /MThomps4</a></p>
</div>
	  </article>
	</section>
</div> <!--Wrapper-->
