<div id="Wrapper">
	<section id="main-section">
	  <article id="main-content">

	<h1>Contact Me</h1>

			<h4>General</h4>
					<p> <img class="contactIcon" src="../IMAGES/Social2/gmail.png">
					<b>Email: </b><a href="mailto:matthew.thompson.a@gmail.com?subject=3WireBuild-Contact">matthew.thompson.a@gmail.com</a></p>

			<h4>Web Development</h4>

					<p><img class="contactIcon" src="../IMAGES/Social2/github.png">
					<b>GitHub:</b><a href="https://github.com/mthomps4"> @MThomps4</a></p>

					<p><img class="contactIcon" src="../IMAGES/Social2/linkedin.png">
					<b>LinkedIn:</b><a href="https://www.linkedin.com/in/mthomps4"> /in/mthomps4</a></p>

					<p><img class="contactIcon" src="../IMAGES/Social2/twitter.png">
					<b>Twitter:</b><a href="https://twitter.com/mthomps4"> @MThomps4</a></p>

			<h4>Woodworking Habits</h4>
					<p><img class="contactIcon" src="../IMAGES/Social2/instagram.png">
					<b>Instagram:</b><a href="https://www.instagram.com/3wirebuild/"> @3WireBuild</a></p>

			<h4>Other</h4>
					<p><img class="contactIcon" src="../IMAGES/Social2/fb.png">
					<b>Facebook:</b><a href="https://www.facebook.com/mthomps4"> /MThomps4</a></p>

	  </article>
	</section>
</div> <!--Wrapper-->
