<header id="main-header" ng-controller="NavController">

  <button id="menuButton">menu</button>
  <ul id="main-nav" style="display: none;" ng-controller="active">
      <a ng-class="{ active: isActive('/') }" href="#/"><li>Home</li></a>
      <a ng-class="{ active: isActive('/about') }" href="#/about"><li>About</li></a>
      <a ng-class="{ active: isActive('/projects') }" href="#/projects"><li>Projects</li></a>
      <a ng-class="{ active: isActive('/resources') }" href="#/resources"><li>Resources</li></a>
      <a ng-class="{ active: isActive('/blog') }" href="#/blog"><li>Blog</li></a>
  </ul>

    <a class="nametag" href="#/">
      <h1 id="title">Matthew <br> Thompson</h1>
      <span id="tag-line">Designer • Developer • Builder</span>
    </a>

    <ul id="main-nav2" style="display: none;" ng-controller='active2'>
        <a ng-class="{ active2: isActive('/') }" href="#/"><li>Home</li></a>
        <a ng-class="{ active2: isActive('/about') }" href="#/about"><li>About</li></a>
        <a ng-class="{ active2: isActive('/projects') }" href="#/projects"><li>Projects</li></a>
        <a ng-class="{ active2: isActive('/resources') }" href="#/resources"><li>Resources</li></a>
        <a ng-class="{ active2: isActive('/blog') }" href="#/blog"><li>Blog</li></a>
    </ul>

</header> <!--main-navigation-->
