<header id="main-header">

  <button id="menuButton">menu</button>
  <ul id="main-nav" style="display: none;">
      <a href="/"><li>Home</li></a>
      <a href="#/about"><li>About</li></a>
      <a href="#/projects"><li>Projects</li></a>
      <a href="#/resources"><li>Resources</li></a>
      <a href="#/blog"><li>Blog</li></a>
  </ul>

    <a class="nametag" href="#/">
      <h1 id="title">Matthew <br> Thompson</h1>
      <span id="tag-line">Designer • Developer • Builder</span>
    </a>

    <ul id="main-nav2" style="display: none;">
        <a href="#/3WireBuild"><li>Home</li></a>
        <a href="#/about"><li>About</li></a>
        <a href="#/projects"><li>Projects</li></a>
        <a href="#/resources"><li>Resources</li></a>
        <a href="#/blog"><li>Blog</li></a>
    </ul>

</header> <!--main-navigation-->
