<div id="container">
  <!-- <h1>3WireBuild</h1> -->
  <!-- <span class="tagline">Designer &#0149 Developer &#0149 Builder</span> -->

  <div id="Tags">

    <div class="tagWrap">

      <h2>Designer</h2>
      <div class="tagBox">
      <img class="tagImage" src="../IMAGES/Home/Chair.jpg" alt"">
      <p>Design is an innovating process. Its the process, the energy put into the thoughts and ideas that make or break the project. Each medium may be different but the process remains the same. Pen to paper, part by part, understanding and fixing the problems before they start.</p>
      </div>

    </div>

    <div class="tagWrap">

      <h2>Developer</h2>
      <div class="tagBox">
      <img class="tagImage" src="../IMAGES/Home/Code.jpg" alt"">
      <p> Technology is a living, growing entity, and a never ending topic of discussion for interactivity. I started my journey in UI/UX design and CSS animations. Today, I focus on website and mobile applications, developing with Javascript, Node.js, WebSockets, and NoSQL databases. I continue to learn by experimenting and pushing limits of interactivity and efficiency.  </p>
      </div>
    </div>

    <div class="tagWrap">

      <h2>Builder</h2>
      <div class="tagBox">
      <img class="tagImage" src="../IMAGES/Home/Plane.jpg" alt"">
      <p>At the end of the day it’s nice to <i>“unplug”</i>. When not behind a computer you will normally find me around a workbench. With a passion for traditional woodworking I continue to learn and hone my craft focusing on hand tools and furniture making. You can follow the process <a href="/#/blog">@3WireBuild</a>.</p>
      </div>
    </div>


  </div>


</div>
