<div id="container">
  <!-- <h1>3WireBuild</h1> -->
  <!-- <span class="tagline">Designer &#0149 Developer &#0149 Builder</span> -->

  <div id="Tags">

    <div class="tagWrap">

      <h2>Designer</h2>
      <div class="tagBox">
      <img class="tagImage" src="../IMAGES/Home/Chair.jpg" alt"">
      <p> Some descriptive text here... </p>
      </div>

    </div>

    <div class="tagWrap">

      <h2>Developer</h2>
      <div class="tagBox">
      <img class="tagImage" src="../IMAGES/Home/Code.jpg" alt"">
      <p> Some descriptive text here... </p>
      </div>
    </div>

    <div class="tagWrap">

      <h2>Builder</h2>
      <div class="tagBox">
      <img class="tagImage" src="../IMAGES/Home/Plane.jpg" alt"">
      <p> Some descriptive text here... </p>
      </div>
    </div>


  </div>


</div>
