<div id="Wrapper">
			<section id="main-section">
				<article id="main-content" class="home">
					<div class="logo-holder">
						<h1>3WireBuild</h1>
						<h3> ... a lifestyle</h3>
						<p>
							Building is a lifestyle. You wake up in the morning geared to create; to fix; and to solve. It’s an itch, a marathon full of thoughts; each needing their own type of acknowledgement. Knowing there are no exceptions as to the type of work, except that work you must. For me I am a Designer, Web Developer, woodworker, and adventuring thinker. I enjoy the nature of breaking objects down to their simplest form, only to rebuild in a way that unlocks the true potential hiding beneath. Each object shows the intent of its creator. The tools they had, the experience gathered, and the pride they had it making it something of their own. It’s a never ending process, building is a lifestyle.
						</p>
					</div>
				</article>
			</section>
</div> <!--Wrapper-->


<footer>
    <div id="buttons">
      <a href="about.html" class="infobox">
        About</a>

      <a href="projects.html" class="infobox">
        Projects</a>

      <a href="3WireBuild.html" class="infobox">
        ?</a>

    </div>

    <div id="fLinks">
      <div id="fContact">
        <p>Matthew A Thompson<br>
        Louisville, KY 40207<br>
        &copy; 2016</p>
      </div>

      <div id="social">
        <ul class="social">
          <a  class="socialLink"></a>
          <a class="socialLink"></a>
          <a class="socialLink"></a>
        </ul>

        <ul class="social2">
          <a  class="socialLink2"></a>
          <a class="socialLink2"></a>
          <a class="socialLink2"></a>
        </ul>
      </div>

    </div>
</footer>
