

<div id="Wrapper">
	<section id="main-section">
	  <article id="main-content">

			<h1>3WireBuild</h1>

					<p>Oh. You need a little dummy text for your mockup? How quaint.</p>
					<p>I bet you’re still using Bootstrap too…</p>
					<p>Street art butcher iPhone, four dollar toast tousled artisan slow-carb chillwave chartreuse franzen. Fashion axe cold-pressed twee meh, gastropub thundercats ethical XOXO raw denim. Semiotics +1 slow-carb post-ironic, kickstarter hella mustache gochujang farm-to-table affogato wolf. Venmo drinking vinegar banh mi paleo vegan, kickstarter chillwave keytar polaroid meh trust fund hoodie fashion axe. Cliche vinyl lumbersexual umami. Ennui microdosing messenger bag, truffaut small batch literally flannel tattooed seitan waistcoat godard. Thundercats cardigan offal cornhole paleo, salvia kogi PBR&B stumptown pour-over hoodie typewriter iPhone.
					</p>
	  </article>
	</section>
</div> <!--Wrapper-->

			<div id="buttons">
				<a class="infobox design">The Process</a>
				<a class="infobox development">The Code</a>
				<a class="infobox woodworking">Woodworking</a>
			</div>
