<div id="Wrapper">
	<section id="main-section">
	  <article id="main-content">

				<p>
					As you keep learning you need to keep tabs on things... here they are.. click below.
	      </p>

				<p>Oh. You need a little dummy text for your mockup? How quaint.</p>
				<p>I bet you’re still using Bootstrap too…</p>
				<p>Squid thundercats cray tacos man bun, umami pickled. Ugh literally viral, mumblecore selvage sustainable waistcoat polaroid pug sriracha intelligentsia cornhole. Direct trade kickstarter retro selfies, ramps vice everyday carry green juice keffiyeh heirloom. Locavore roof party brooklyn hella mixtape. Blog everyday carry organic banh mi, 8-bit heirloom fixie cliche helvetica photo booth squid wolf direct trade humblebrag. Vice crucifix lomo post-ironic, cray fap tousled cred brooklyn sriracha mustache synth ramps squid pork belly. Mlkshk kitsch twee, put a bird on it tote bag brunch kinfolk 8-bit four loko banh mi bushwick mixtape keffiyeh post-ironic.</p>

		</article>
	</section>
</div> <!--Wrapper-->

		<div id="buttons">
			<a class="infobox books">Development</a>
			<a class="infobox Rblogs">Woodworking</a>
		</div>
